#background-video {
    z-index: -1;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.navbar {
    background-color: #363636!important;
    opacity: .8;
}
.header {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}
#nav-architects {
    color: #ff8840;
}
.navbar-item.header {
    font-size: 18px;
}
.tile.is-child {
    background-position: center!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    margin: 0 4px!important;
}
/*Background Image for tiles*/
#tile1 {background: url('../static/Homes/Bay Street/bay_street_home_sf_winder_gibson_02.1000x0.jpg')}
#tile2 {background: url('../static/Homes/cole/modern-architecture-residential-deck-urban-infill-house-winder-gibson-design.1000x0.jpg')}
#tile3 {background: url('../static/Homes/dolores/21.1000x0.jpg')}
#tile4 {background: url('../static/Homes/Eureka/eureka_valley_home_sf_winder_gibson_04.1000x0.jpg')}
#tile5 {background: url('../static/Homes/Noe/twilights_10.1000x0.jpg')}
#tile6 {background: url('../static/Homes/texas/312_texas_v1_2_0006.1000x0.jpg')}
#tile7 {background: url('../static/Homes/Greenwhich/9_5.1000x0.jpg')}
#tile8 {background: url('../static/Homes/market street/modern-architecture-residential-living-room-loft-market-street-penthouse-winder-gibson-design.1000x0.jpg')}
#tile9 {background: url('../static/Homes/willow glen/contemporary_architecture_residential_rear_facade_willow_glen_sf_winder_gibson.1000x0.jpg')}
#tile10 {background: url('../static/Homes/pacific heights/traditional-architecture-residential-living-room-wood-pacific-heights-winder-gibson-design.1000x0.jpg')}

/*Slider Styling*/
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
.modal-content {justify-content: center}
.bayStreetSlides {display:none;}
.slide {
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin:  0 auto;
}