/*Hero Style*/
#background-video {
    z-index: -1;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/*Navbar Style*/
.navbar {
    background-color: #363636!important;
    opacity: .8;
    position: sticky;
    top: 0;
}
.header {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
}
#nav-architects {
    color: #ff8840;
}
.navbar-item.header {font-size: 18px;}
.navbar-item.header:hover {
    color: #ff8840;
    background-color: unset;
}
    /*Media Queries for navbar*/
@media (max-width: 362px) {.header {font-size: 20px}}

/*Recent Projects Style*/
.tile.is-child {
    margin: 0 4px!important;
    overflow: hidden;
}
.tile.is-child:hover .tile-img,
.tile.is-child:focus .tile-img{
    transform: scale(1.1);
}
.tile-img {
    background-position: center!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    width: 100%;
    height: 100%;
    transition: all .5s;
}
    /*Background Image for tiles*/
#tile1 {
    background-image: url('../static/Homes/Bay Street/bay_street_home_sf_winder_gibson_02.1000x0.jpg')}
#tile2 {background-image: url('../static/Homes/cole/modern-architecture-residential-deck-urban-infill-house-winder-gibson-design.1000x0.jpg')}
#tile3 {background-image: url('../static/Homes/dolores/21.1000x0.jpg')}
#tile4 {background-image: url('../static/Homes/Eureka/eureka_valley_home_sf_winder_gibson_04.1000x0.jpg')}
#tile5 {background-image: url('../static/Homes/Noe/twilights_10.1000x0.jpg')}
#tile6 {background-image: url('../static/Homes/texas/312_texas_v1_2_0006.1000x0.jpg')}
#tile7 {background-image: url('../static/Homes/Greenwhich/9_5.1000x0.jpg')}
#tile8 {background-image: url('../static/Homes/market street/modern-architecture-residential-living-room-loft-market-street-penthouse-winder-gibson-design.1000x0.jpg')}
#tile9 {background-image: url('../static/Homes/willow glen/contemporary_architecture_residential_rear_facade_willow_glen_sf_winder_gibson.1000x0.jpg')}
#tile10 {background-image: url('../static/Homes/pacific heights/traditional-architecture-residential-living-room-wood-pacific-heights-winder-gibson-design.1000x0.jpg')}

    /*Slider Styling*/
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
.modal-content {justify-content: center}
.bayStreetSlides {display:none;}
.slide {
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin:  0 auto;
}
.w3-button.w3-display-left, .w3-button.w3-display-right {
    color: #FFA066;
}
.w3-button.w3-display-left:hover, .w3-button.w3-display-right:hover {
    color: #FFA066!important;
    background: #363636!important;
    opacity: .8;
}
.tile.is-ancestor {
    width: 100%;
    margin: 0!important;
}

.tile.title {
    background: #363636;
    padding: 5px;
    opacity: 0;
    color: #ff8840!important;
    transition: opacity .5s;
    height: 100%;
}

.tile.is-child:hover .tile.title {
    opacity: .8;
}
.columns {width: 100%}

    /*Media queries for projects */
@media (max-width: 768px) {
    .desktop {display: none;}
    .mobile {display: block;}
    .tile-img {min-height: 250px;}
    .tile.title {opacity: .8;}
    .modal-content {width: 80%;}
}
@media (min-width: 769px) {
    .mobile {display: none}
    .desktop {display: block;}
}

/*About Section Style*/
.title {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}
.subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    margin: 0 25px 25px 25px;
}
#avatar {
    text-align: center;
    margin: 30px;
}

#about {
    background-color: #363636;
    opacity: .8;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23ff8840' fill-opacity='1'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

#about-container {
    background: #ffffff;
    border-color: #ff8840;
    border-style: double;
    border-width: thick;
    border-radius: 25px;
    max-width: 450px;
}

/*Contact Form Style*/
#form-container {
    max-width: 700px;
}
#form-title {
    font-size: 30px;
    color: #4E4E4E;
}
.label {color: #4E4E4E}

.button.is-link {
    background-color: #FFA066;
    color: #4E4E4E;
}

.button.is-link:hover {
    background-color: #4E4E4E;
    color: #FFA066;
}

/*Footer Style*/
#footer-section {
    background: #5E5E5E;
}

#footer-container {
    text-align: center;
    color: #ffffff;
    padding: 25px;
    opacity: .8;
}
.icons {color: #ff8840;}
.icons:hover {color: #ffffff;
}